<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/9d34d7eb05.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body style="background-image: url({% static '' %});background-repeat: no-repeat;background-size: 100% 700px;background-attachment: fixed;">

<form method="post" >{% csrf_token %}
<div class="container" style="background-image:linear-gradient(to right, #870000 0%, #190A05  51%, #870000  100%);margin-top:200px;">

<button style="width:200px;margin-left:200px;"><a href="http://127.0.0.1:8000/ecom/admnupld/" class="btn btn-light" >Product Upload</a></button>
  <button style="width:200px;"><a href="http://127.0.0.1:8000/ecom/admndsp/" class="btn btn-light" >Product Display</a></button>
    <button style="width:200px;"><a href="http://127.0.0.1:8000/ecom/about/" class="btn btn-light">About</a></button>

</div>
</form>

</body>
</html>