<!DOCTYPE html>
{% load static %}
<html lang="en">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
       integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/4456ec25b8.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
<head>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container" style="background-image: linear-gradient(to right, #1F1C2C 0%, #928DAB  51%, #1F1C2C  100%);">
          <a class="navbar-brand" href="#" style="font-size:35px;color:darkgrey;">
            homecenter <img src="{% static 'home.jpg' %}" alt="" width="30" height="30" class="d-inline-block align-text-right"></a>
<input type="text" id="myFilter" style="width:350px;margin-left:200px;" onkeyup="myFunction()" placeholder="search  by title..">

            <a href="http://127.0.0.1:8000/ecom/proj/"><button  style="border-color: rgb(237, 237, 237);border-radius:7px;background-image:linear-gradient(to right, #CC95C0 0%, #DBD4B4  51%, #CC95C0  100%);">Home</button></a>
            <a href="http://127.0.0.1:8000/ecom/about/"><button  style="border-color: rgb(237, 237, 237);border-radius:7px;background-image:linear-gradient(to right, #CC95C0 0%, #DBD4B4  51%, #CC95C0  100%);">About</button></a>
            <a href="http://127.0.0.1:8000/ecom/logout/"><button  style="border-color: rgb(237, 237, 237);border-radius:7px;background-image:linear-gradient(to right, #CC95C0 0%, #DBD4B4  51%, #CC95C0  100%);">Logout</button></a>
        </div>
      </nav>
 <h3>Your cart...</h3>
<div class="simple-container cart-page"  style="" >
    <table border="1" align="center" style="width:700px;">

        {% for i,j,k,l,m,n in a %}
        {% if i == id %}
        <tr>
            <td><img src="{% static k %}" style="height:100px;width:100px;"><b>{{j}}</b><br><b>{{l}}.00</b><br>{{m}}&nbsp;&nbsp;<p>{{n}}</p></td>


            <td><a href="http://127.0.0.1:8000/ecom/cartdelete/{{i}}"><i class="fa-solid fa-trash fa-1x"></i></a></td>

        </tr>

    {% endif %}
    {% endfor %}
    </table>
</div>
<br><br>
    <div class="total-price" >
        <h2 align="center">Price Details</h2>
        <table align="center"  style="height:100px;width:400px;background-color:rgb(175, 122, 147);" border="1">
            <tr>
                <td>Total</td>
                <td>{{total}}.00</td>
            </tr>
            <br>
            <tr>
                <td><b>Discount</b></td>
                <td><p><b> -1099</b> </p></td>
            </tr>

         <tr>
                <td>Total Amount</td>
                <td>{{amount}}.00</td>
            </tr>
            <tr>
                <td><p style="color:red;">you will save 1099 on this order</p></td>
            </tr>
<tr>
              <td>
                <a href="http://127.0.0.1:8000/ecom/pay1/"><button class="btn btn-light" style="width:130px;margin-left:110px;background-color:black;color:white;">Place order</button></a>

              </td></tr>
        </table>

    </div>

</div>
 <BR>
 <hr class="solid">

  <div style="height:220px;width:600px;float:right;">
   <h3>Download our apps</h3>
   <p style="color:rgb(95, 94, 94);">Shop our products and offers on-the-go</p>
   <button style="height:70px;width:180px;background-color: black;color:white;">Download on the <i class="fa-brands fa-apple fa fa-2x" style="color:white;">
   </i>appstore</button> &nbsp;&nbsp;&nbsp<a href="https://www.appcracy.com/app/google-play-store/"><button style="height:70px;width:180px;background-color: black;color:white;">Get it on <i class="fa-brands fa-google-play fa fa-2x" style="color: #e6333c;"></i>
      Google play</button></a>
   </div>
   <div style="height:220px;width:600px;">
<!--     <form method="POST" >{% csrf_token %}-->
<h3>Subscribe to our awesome emails</h3>
<p  style="color:rgb(98, 96, 96);">Get our latest offers and news straight in your inbox.</p>
         <input type="email" id="z" placeholder="enter your email">

          <button  style="color:white;width:150px;height:40px;background-color:black;" onclick="hello()">Subscribe</button>&nbsp;
<p id="demo" style="color:black;margin-left:250px;"></p>
<!--       </a>-->
<!--         {% for msg in messages %}-->
<!--         {{msg}}-->
<!--         {% endfor %}-->
       <br><br><br>
<!--     </form>-->
  </div>

  <div style="height:300px;width:100%;">
    <hr class="solid"><br>
  <div class="card" style="width: 10rem;float:left;border-color: white;">
    <div class="card-body">
      <h5 class="card-title">Furniture</h5>
      <h6 class="card-subtitle mb-2 text-muted" style="font-size:15px;font-family:'Times New Roman', Times, serif">
        Living Furniture<br>
        Bedroom Furniture<br>
        Dining Furniture<br>
        Accent Furniture<br>
        Computer Desk and Chair<br>
        Kids Furniture</h6>
    </div>
  </div>
  <div class="card" style="width: 10rem;float:left;border-color: white;">
    <div class="card-body">
      <h5 class="card-title">Kitchen</h5>
      <h6 class="card-subtitle mb-2 text-muted" style="font-size:15px;font-family:'Times New Roman', Times, serif;">
        Cooking<br>
        Storage & Containers<br>
        Kitchenware<br>
        Kitchen Linen<br>
        Appliances<br>
        Serveware</h6>

    </div>
  </div>
  <div class="card" style="width: 10rem;float:left;border-color: white;">
    <div class="card-body">
      <h5 class="card-title">Dining</h5>
      <h6 class="card-subtitle mb-2 text-muted" style="font-size:15px;font-family: 'Times New Roman', Times, serif;">
        Serving<br>
Crockery<br>
Dinner sets<br>
Table Accessories<br>
Cutlery</h6>
    </div>
  </div>
  <div class="card" style="width: 10rem;float:left;border-color: white;">
    <div class="card-body">
      <h5 class="card-title">Decor</h5>
      <h6 class="card-subtitle mb-2 text-muted" style="font-size:15px;font-family:'Times New Roman', Times, serif">Home Accessories<br>
        Fragrance<br>
        Garden<br>
        Wall Accents<br>
</h6>
    </div>
  </div>
  <div class="card" style="width: 10rem;float:left;border-color: white;">
    <div class="card-body">
      <h5 class="card-title">Furnishing</h5>
      <h6 class="card-subtitle mb-2 text-muted" style="font-size:15px;font-family:'Times New Roman', Times, serif">
        Bedding<br>
        Curtains<br>
        Cushions<br>
        Floor Coverings<br>
        Accessories<br>
      </h6>
    </div>
  </div>
  <div class="card" style="width: 10rem;float:left;border-color: white;">
    <div class="card-body">
      <h5 class="card-title">Kitchen</h5>
      <h6 class="card-subtitle mb-2 text-muted" style="font-size:15px;font-family: 'Times New Roman', Times, serif;">
        Cooking<br>
        Storage & Containers<br>
        Kitchenware<br>
        Kitchen Linen<br>
        Appliances<br>
        Serveware</h6>

    </div>
  </div>
  <div class="card" style="width: 10rem;float:left;border-color: white;">
    <div class="card-body">
      <h5 class="card-title">Bath & laundry</h5>
      <h6 class="card-subtitle mb-2 text-muted" style="font-size: 15px;font-family: 'Times New Roman', Times, serif;">
        Laundry<br>
        Bath<br>
        Accessories</h6>
    </div>
  </div>

</div><br>
<div class="container" style="width:1200px;height:90px;">
  <div class="card" style="width: 18rem;float:left;border-color: white;">
    <div class="card-body">
      <h5 class="card-title" title="call this number"><i class="fa-solid fa-phone"></i>&nbsp;&nbsp;Talk To Us</h5>
      <h6 class="card-subtitle mb-2 text-muted">1800-210-0987
      </h6>
</div>
</div>
<div class="card" style="width: 18rem;float:left;border-color: white;">
  <div class="card-body">
    <h5 class="card-title"><i class="fa-solid fa-question"></i>&nbsp;&nbsp;Help Center</h5>
    <h6 class="card-subtitle mb-2 text-muted">homecenter.in/help
    </h6>
</div>
</div>

<div class="card" style="width: 18rem;float:left;border-color: white;">
  <div class="card-body">
    <h5 class="card-title" ><i class="fa-solid fa-phone"></i>&nbsp;&nbsp;Write Us</h5>
    <h6 class="card-subtitle mb-2 text-muted">Help@homecenter.in
    </h6>
</div>
</div>
<div class="card" style="width: 10rem;float:right;border-color: white;">
  <div class="card-body">
    <h5 class="card-title"><i class="fa-brands fa-facebook fa fa-1x" ></i>&nbsp;
      <i class="fa-brands fa-twitter fa fa-1x"></i>&nbsp;
      <i class="fa-brands fa-instagram fa fa-1x"></i></h5>

</div>
</div>

</div>
</body>
</html>
